.box {
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

._jsPlumb_connector * {
    stroke: grey;
    stroke-width: 5px;
}

._jsPlumb_endpoint * {
    fill: black;
}

._jsPlumb_endpoint {
    z-index: 1;
}