/* metal.css – a stylesheet to use with metal genre data. */

/* Class styles */

/* General style */

.path {
    height: 200px;
}

.node {
    box-shadow: 0px 0px;
    border-radius: 0em 0em 0em 0em;
}

.node.primary {
    width: 200px;
    height: 200px;
}

.node.metal {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.node.related {
    width: 60px;
    height: 60px;
    margin-top: 70px;
}

.node.fusion {
    width: 80px;
    height: 80px;
    margin-top: 60px;
}

.node.primary .label {
    padding-top: 200px;
}

.node.metal .label {
    padding-top: 150px;
}

.node.related .label {
    padding-top: 130px;
}

.node.fusion .label {
    padding-top: 140px;
}

/* Node styles */

.node.primary.heavy {
    background-image: url('skins/metal/heavy-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.metal.nwobhm {
    background-image: url('skins/metal/nwobhm-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.primary.speed {
    background-image: url('skins/metal/speed-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.primary.thrash {
    background-image: url('skins/metal/thrash-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.primary.deathmetal {
    background-image: url('skins/metal/death-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.metal.brutaldeath {
    background-image: url('skins/metal/brutaldeath-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.related.punkrock {
    background-image: url('skins/metal/punkrock-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.related.hardcorepunk {
    background-image: url('skins/metal/hardcorepunk-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.fusion.progressive {
    background-image: url('skins/metal/progressive-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.node.fusion.neoclassical {
    background-image: url('skins/metal/neoclassical-node.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Edge styles */

._jsPlumb_connector.default path {
    stroke: gray;
}

/* Overlay styles */

._jsPlumb_overlay.default {
    display: none;
}