/* bare.css – a minimal stylesheet to draw graphs without additional,
   domain specific style information */

@nodeHeight: 80px;
@nodeWidth: 80px;

.node {
    background-color: white;
    width: @nodeWidth;
    height: @nodeHeight;
    text-align: center;
    line-height: @nodeHeight;
    position: absolute;
    box-shadow: 2px 2px 19px #AAAAAA;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    margin-left: -1 * @nodeWidth / 2;
}

.path {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: @nodeHeight;
}

._jsPlumb_connector * {
    stroke: grey;
    stroke-width: 5px;
}

._jsPlumb_endpoint * {
    fill: black;
}

._jsPlumb_endpoint {
    z-index: 1;
}

._jsPlumb_overlay {
    z-index: 1;
    background-color: white;
    box-shadow: 2px 2px 19px #AAAAAA;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.25em;
}