/* social.css – a stylesheet to use with social data. */

/* Class styles */

/* General style */

.node {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;

    box-shadow: 0px 0px;
    border-radius: 0em 0em 0em 0em;
}

.node .label {
    padding-top: 70px;
}


/* Node styles */

.male {
    background-image: url('../common/skins/social/male-node.png');
}

.female {
    background-image: url('../common/skins/social/female-node.png');
}

.movie {
    background-image: url('../common/skins/social/movie-node.png');
}

.musicBand {
    background-image: url('../common/skins/social/musicBand-node.png');
}

/* Edge styles */

._jsPlumb_connector path {
    stroke-width: 1;
}

/* Overlay styles */

._jsPlumb_overlay.label {
    margin-top: 30px;
}

._jsPlumb_overlay.icon {
    display: block;
    width: 15px;
    height: 15px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}

._jsPlumb_overlay.friendship.icon {
    background-image: url('../common/skins/social/friendship-edge.png');
}

._jsPlumb_overlay.likes.icon {
    background-image: url('../common/skins/social/is-liked-by-edge.png');
    transform: scale(-1,1);
    -moz-transform: scale(-1,1);
}

._jsPlumb_overlay.is-liked-by.icon {
    background-image: url('../common/skins/social/is-liked-by-edge.png');
}