/* academic.css – a stylesheet to use with academic data. */

/* Class styles */

/* General style */

.node {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;

    box-shadow: 0px 0px;
    border-radius: 0em 0em 0em 0em;
}

.node .label {
    padding-top: 70px;
}


/* Node styles */

.author {
    background-image: url('../common/skins/academic/author-node.png');
}

.paper {
    background-image: url('../common/skins/academic/paper-node.png');
}

.conference {
    background-image: url('../common/skins/academic/conference-node.png');
}

/* Edge styles */

._jsPlumb_connector.wrote path {
    stroke: black;
}

._jsPlumb_connector.cites path {
    stroke: green;
    stroke-dasharray: 5,5;
}

._jsPlumb_connector.presented-at path {
    stroke: red;
    stroke-width: 1;
}

/* Overlay styles */

._jsPlumb_overlay.label {
    margin-top: 30px;
}

._jsPlumb_overlay.icon {
    display: block;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}

._jsPlumb_overlay.wrote.icon {
    background-image: url('../common/skins/academic/wrote-edge.png');
}

._jsPlumb_overlay.cites.icon {
    background-image: url('../common/skins/academic/cites-edge.png');
}

._jsPlumb_overlay.presented-at.icon {
    background-image: url('../common/skins/academic/presented-at-edge.png');
}