/* academic.less – a stylesheet to use with academic data. */

/* Common variables */

@nodeSize: 60px;
@iconSize: 30px;
@imagePath: '../common/skins/academic/';

/* Parametric Mixin */

.nodeBackground (@class) {
    background-image: url(~"'@{imagePath}@{class}-node.png'");
}

.overlayBackground (@class) {
    background-image: url(~"'@{imagePath}@{class}-edge.png'");
}

.node {
    width: @nodeSize;
    height: @nodeSize;
    background-size: @nodeSize @nodeSize;

    box-shadow: 0px 0px;
    border-radius: 0em 0em 0em 0em;

    .label {
        padding-top: 70px;
    }

    &.author {
        .nodeBackground('author');
    }

    &.paper {
        .nodeBackground('paper');
    }

    &.conference {
        .nodeBackground('conference');
    }
}

._jsPlumb_connector {
    &.wrote path {
        stroke: black;
    }

    &.cites path {
        stroke: green;
        stroke-dasharray: 5,5;
    }

    &.presented-at path {
        stroke: red;
        stroke-width: 1;
    }
}

._jsPlumb_overlay {
    &.label {
        margin-top: @iconSize;
    }

    &.icon {
        display: block;
        width: @iconSize;
        height: @iconSize;
        background-size: @iconSize;
        background-repeat: no-repeat;
        background-color: white;
        background-position: center;

        &.wrote {
            .overlayBackground('wrote');
        }

        &.cites {
            .overlayBackground('wrote');
        }

        &.presented-at {
            .overlayBackground('presented-at');
        }
    }
}